<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Manoveda - Mental AI Health Assessment</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <img src="D:\project\my_flask_app\app\static\manodev-logo.png" alt="Manoveda Logo" class="logo" onclick="location.href='index.html';">
        <div class="header-content">
            <a href="index.html" class="learn-more"><b>Learn more about mental health</b></a>
            <a href="about.html" class="about-us"><b>About Us</b></a>
            <a href="login.html" class="login"><b>Login</b></a>
        </div>
    </header>

    <div class="box">
        <h1 class="title animated-gradient">Your Mental Health Matters</h1>
        <p class="description">
            Take the first step towards well-being.<br>
            Get free, confidential mental health screening and resources.
        </p>

        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">Start Your Assessment</a>
            <a href="#" class="btn btn-secondary">Explore Resources</a>
        </div>
    </div>

    <p>Select a mental health condition to begin the assessment:</p>
    <div class="btn-container">
        <a href="/my_flask_app/templates/depression.html" class="btn">Depression</a>
        <a href="anxiety.html" class="btn">Anxiety</a>
        <a href="adhd.html" class="btn">ADHD</a>
        <a href="ptsd.html" class="btn">PTSD</a>
        <a href="bipolar.html" class="btn">Bipolar Disorder</a>
        <a href="autism.html" class="btn">Autism</a>
        <a href="major-depression.html" class="btn">Major Depression</a>
        <a href="schizophrenia.html" class="btn">Schizophrenia</a>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
