<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Manoveda</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="manodev-logo.png" alt="Manoveda Logo" class="logo" onclick="location.href='index.html';">
        <div class="header-content">
            <a href="index.html" class="learn-more"><b>Learn more about mental health</b></a>
            <a href="sign.html" class="about-us"><b>Sign Up</b></a>
        </div>
    </header>

    <div class="box">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>